name: Deploy to ECR

on:
 
  push:
    branches: [ main ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

   
    steps:

    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: video-summary
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    - name: Update lambda source
      id: update-lambda-source
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: video-summary
        IMAGE_TAG: ${{ github.sha }}
      run: |
        aws lambda update-function-code --function-name arn:aws:lambda:eu-north-1:546163583713:function:video-summary-PROD --image-uri $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        aws lambda update-function-code --function-name arn:aws:lambda:eu-north-1:546163583713:function:sysdev-PROD --image-uri $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
